@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #5243c2;
  --danger: #ff4d4f;
  --muted: #949ba6;

  --black: #1f2939;
  --black-squeeze: #f0f7fa;

  --white: #ffffff;
  --white-titan: #f5f5ff;

  --red: #ff4d4f;
  --red-400: #ff9293;
  --red-300: #ffc8c8;
  --red-200: #ffeded;

  --indigo: #5243c2;
  --indigo-600: #473aa6;

  --gray: #d4d4d4;
  --gray-100: #f4f4f4;
}

@layer base {
  h1 {
    @apply text-[48px] font-medium md:text-[72px] md:font-[700];
  }
  h2 {
    @apply text-[48px] font-[600];
  }
  h3 {
    @apply text-[36px] font-[600];
  }
  h4 {
    @apply text-[24px] font-[600];
  }
  h5 {
    @apply text-[20px] font-[600];
  }
  h6 {
    @apply text-[16px] font-[600];
  }
  p {
    @apply text-black;
  }
}
@layer components {
  .p-sm-regular {
    @apply text-[12px] font-[400];
  }
  .p-sm-semi {
    @apply text-[12px] font-[600];
  }
  .p-md-regular {
    @apply text-[14px] font-[400];
  }
  .p-md-semi {
    @apply text-[14px] font-[600];
  }
  .p-lg-regular {
    @apply text-[16px] font-[400];
  }
  .p-lg-semi {
    @apply text-[16px] font-[600];
  }
  .p-lg-extra {
    @apply text-[16px] font-[700];
  }
  .p-xl-regular {
    @apply text-[20px] font-[400];
  }
  .p-xl-semi {
    @apply text-[20px] font-[600];
  }
  .p-2xl {
    @apply text-[24px] font-extrabold uppercase;
  }
  .p-3xl {
    @apply text-[36px] font-extrabold;
  }
}
@layer utilities {
}
